<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>author</key>
	<string>MindNode</string>
	<key>id</key>
	<string>357F969E-58D7-4F97-BBCC-1CA422BF6B49</string>
	<key>title</key>
	<string>Classic</string>
	<key>version</key>
	<integer>3</integer>
</dict>
</plist>
